* {
    margin: 0;
    padding: 0;
}

.continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.wed {
    padding: 50px;
    width: 50%;
}

hr.vertical {
    height: 300px;
    border-left: none;
    border-top: 1px solid black;
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
}

.ui-menu .ui-menu-item a {
    display: block;
    padding: 0.4em 1em;
    text-decoration: none;
}

.ui-menu .ui-state-active {
    background-color: #ccc;
}

#menu {
    width: 200px;
  }
  
  #menu li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #menu li:hover {
    background-color: #ccc;
  }
