* {
    /* padding: 0; */
    /* margin: 5px; */
}

html,
body {
    margin: 0px;
    width: 100%;

    /* color:   ; */
}

.flexing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #19A7CE;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

a,
h1 {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.background-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/bc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    padding: 50px;
}

.w {
    background-color: #146C94;
    padding: 10px;
    border-radius: 10px;
}

.green {
    background-color: green;
    padding: 10px 35px;
}

.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.grid {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
}